.ayuda{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #9b68c8,#6522a1,#3369c0,#210e8e);
    margin:20px 0px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 30px;
    text-align: justify;
    background-color:rgba(5, 7, 12, 0.4);
    height: 100%;
} 
.ayuda img{
    height: 450px;
}
.texto a{
    background-color: #ba68c8;
    outline: rgba(0, 0, 0, 0);
    border: 2px solid blueviolet;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.texto a:hover{
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px; 
    background: #6522a1;
    border: 2px solid #6522a1;
}