
.contenedor{
    height: auto;
    width: 100%;
    padding: 20px 40px;
}
.banner{
    height: 300px;
}
.contenedor-promo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: rgb(0, 0, 0);
    height: 600px;
    padding: 0px 30px;
}
.card{
    text-align: center;
}
.card img{
    height: 340px;
    padding-bottom: 20px; 
}
.pie{
    font-size: 14px;
    padding-top: 10px;
}
.pie span{
    font-weight: normal;
    color: #ce93d8;
}
.boton{
    width: 120px;
    border-radius: 20px;
    background-color: #f3e5f5;
    border: none;
    outline:rgba(0, 0, 0, 0); 
    font-size: 18px;
    color: black;
    font-weight: bold;
    padding: 10px;
}
.boton:hover{
    background-color: purple;
    color: white;
    box-shadow: rgb(71, 70, 70) 0px 0px 20px;
    border: none;
}

/*encuentralo por categoria**/
 .categoria{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 20px 0px;
} 
.seccion{
    background-color: #4a148c;
    border: 2px solid gray;
    height: 270px;
    display:grid;
    text-align: center;
    font-size: 12px;
}
.seccion img{
    height: 230px;
}
.seccion h1:hover{
    cursor: pointer;
    text-decoration: underline;
}
