*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif, arial;
    background-color: white;
}
header{
    background-color:#2b064d;
    position: fixed;
    width: 100%;
}
.menu{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu img{
    height: 60px;
    width: 150px;
    padding: 0px 20px;
}
.menu nav a{
    text-decoration: none;
    font-family: sans-serif, arial;
    font-size: 20px;
    padding: 0px 10px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}
nav a:hover{
    color: #ab90b9;
    border-bottom: 0.2em solid #ff00ff;
}
.separador{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: #2b064d;
    background-color: white;
}
.separador h1{
    border:2px #ff00ff solid;
    padding: 0 20px;

}