#pie{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.pie-pagina{
    background: rgb(74, 20, 140,0.4);
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    color: white;
     
} 
