*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif, arial;
    background-color: black;
    color: white;
}
header{
    background-color:#4a148c;
    height: 70px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
#menu-bar,.icono{
    display: none;
}
.menu{
    height: 100%;
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu img{
    height: 60px;
    width: 150px;
}
.menu-nav a{
    text-decoration: none;
    font-family: sans-serif, arial,Verdana, Tahoma;
    font-size: 20px;
    padding-left: 10px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}
nav a:hover{
    color: #ab90b9;
    border-bottom: 0.2em solid #ff00ff;
}
.separador{
    height: 80px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: #2b064d;
    background-color: white;
} 
.separador h1{
    border:2px #ff00ff solid;
    padding: 5px 20px;
    color: black;

} 