*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.jumbotron{
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    padding-top: 70px;
    /* background-image:url(/img/fondo2.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.principal{
    display: block;
    text-align: center;
    padding: 5px;
} 
.principal h1{
    font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
}
.principal h4{
    color: purple;
    font-size: 24px;
    margin-bottom: 20px;
}
.principal h3,a{
    color: purple;
    font-size: 15px;
    text-decoration: none;
}
span{
    color:violet;
}

.calzado{
    display: inline-block;
}
.calzado img{
    height: 370px;
}

#contacto{
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.correo{
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 0px 20px;
    height: 40px;
    width: 80vh;
    border:2px  violet solid;
    color:purple;
    font-size: 20px;
    outline:rgba(0, 0, 0, 0); 
}
.enviar{
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background-color: violet;
    outline:rgba(0, 0, 0, 0); 
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}
.enviar:hover{
    cursor: pointer;
    background-color:purple;
    color: white;
    border: none;
    box-shadow:rgb(109, 108, 108) 0px 0px 20px;
}