/* movil*/
@media screen and (max-width: 900px) {
    header .menu{
        width: 95%;
    }
    .menu-nav{
        background-color:rgb(74, 20, 140,0.5);
        height: 100vh;
        position: absolute;
        left: 0;
        top: 70px;
        transition: all 0.5s;
        transform: translateX(-100%);
        width: 100%;
    }
    .menu-nav{
        flex-direction: column;
    }
    .menu-nav a:hover{
        color: black;
        background-color: rgb(255, 255, 255,0.8);
    }
    .menu-nav a{
        display:block;
        padding: 15px;
    }
    .icono{
        display: block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
    }
    #menu-bar:checked ~ .menu-nav{
        transform: translateX(0%);
    }
    /*jumbotrom*/
    .calzado{
        display: none;
    }
    .principal h1{
        font-size: 40px;
    }
    .principal h4{
        font-size: 15px;
    }
    .principal h3,a{
        font-size: 10px;
    }
    .correo{
        width: 90%;
    }
    /*catalogo*/
    .contenedor{
        padding: 2px;
    }
    .banner{
        height: 150px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .contenedor-promo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    .card{
        justify-content: center;
    }
    .card img{
        height: 200px;
    }
    .pie{
        font-size: 10px;
    }
    .boton{
        font-size: 15px;
        padding: 8px;
    }
    /*encuentra por genero*/
    .categoria{
        grid-template-columns: 1fr;
        gap: 10px;
        padding:10px;
    }
    .seccion{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: none;
    }
    .seccion img{
        width: 400px;
    }
    /*seccion de ayuda*/
    .ayuda{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .ayuda img{
        display:none;
    }
    .texto{
        padding: 15px;
        width: 95%;
    }
    .texto h1{
        font-size: 20px;
        text-align: center;
    }
    /*footer*/
    #pie{
        font-size: 13px;
    }
    .separador h1{
        font-size: 20px;
    }
 
}